# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Environment variables
.env

# Distribution / Packaging
build/
dist/
*.egg-info/

# Unit tests / Coverage
.pytest_cache/
.coverage
htmlcov/

# Editor / IDE
.vscode/
.idea/

# Logs
*.log

# Docker
.dockerignore
